<h1>Register to Donate Blood!!!</h1>
<form>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="validationDefault01">Blood Type:</label>
      <input type="text" class="form-control" id="validationDefault01" placeholder="Blood Type" value="Mark" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefault02">Donor Name</label>
      <input type="text" class="form-control" id="validationDefault02" placeholder="Donor Name" value="Otto" required>
    </div>
    <div class="col-md-4 mb-3">
      <label for="validationDefaultUsername">Location</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupPrepend2">@</span>
        </div>
        <input type="text" class="form-control" id="validationDefaultUsername" placeholder="Location"
          aria-describedby="inputGroupPrepend2" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationDefault03">Contact No:</label>
      <input type="text" class="form-control" id="validationDefault03" placeholder="Contact no" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault04">Email</label>
      <input type="text" class="form-control" id="validationDefault04" placeholder="Email" required>
    </div>
    <div class="col-md-3 mb-3">
      <label for="validationDefault05">Available</label>
      <input type="text" class="form-control" id="validationDefault05" placeholder="Avaliable" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Register</button>
</form>
