<div class="about-area ptb--100">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>About The Founder</h2>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="about-left-img">
            <img src="assets/img/about-img.png" alt="" class="img-responsive">
          </div>
        </div>

        <div class="col-md-9">
          <div class="about-content">
            <p>Maulana Syed Abul Hasan Ali Nadvi aka &quot;Ali Miyan&quot; (1914-1999) was an
              illustrious member of the family of Rae Bareli which is credited for producing
              intellectuals and writers for generations.
              Moulana Ali Miya was a great thinker, writer, educationist, social reformer,
              and an international traveller. He was very humble, modest, soft-spoken,
              tolerant, moderate and generous. He stood for mutual respect, peaceful
              coexistence, human values, establishing a social atmosphere based on
              tolerance and harmony in India and in the world at large. He earned our
              country good name for his services that were also internationally recognized.
              He served as the chairman of the board for the center of Islamic studies of
              the Oxford university and as a visiting professor in a number of international
              universities. In 1980, he received the Faisal International Award, followed by
              the Brunei Award and the UAE Award in 1999. He also received an honorary
              doctorate from Kashmir University on 29 October 1981.He will always be
              remembered for his efforts in fostering and promoting love and amity
              between different communities and sections of the society. He travelled
              around India to rebuild relations between communities on the terms of
              common moral values. He established a movement named &quot;Payam-e-
              Insaniyat&quot; (Message of Humanity) forum and toured along with his

              friends, comprising of people from different communities, to certain places
              where communal riots had erupted, to instill confidence among the victims
              and to bring the aggressors and wrongdoers to the right path.
              The present volatile and dangerous situation in the country demands that the
              message of the late Moulana be reiterated and repeated time and again. The
              way to peaceful coexistence lies in highlighting the message of humanity.
              What Moulana said about quarter of a century ago has become more relevant
              today in the context of rising aggressive behavior of some violent groups and
              organizations for which innocent people become a soft target of violence and
              destruction.
              His concern about the rising corruption in various fields and its remedy too
              are as fresh as they were in the past.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
